name: Tests

on: [push]

jobs:
  run_tests:
    name: Java${{ matrix.java }} ${{ matrix.profile }} test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        java: [ 8, 11 ]
        profile: ['integration', '!integration']

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Cache maven repository
        uses: actions/cache@v1
        env:
          cache-name: cache-m2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Cache npm dependencies
        uses: actions/cache@v1
        env:
          cache-name: cache-npm
        with:
          path: node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Setup Java ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Test with maven
        run: mvn -B clean verify -P ${{ matrix.profile}}
